body {
    font-family: "open sans";
    overflow-x: hidden;
    background-color: #f8f9fa;
  }

  img {
    max-width: 100%;
  }

  .preview {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .preview-pic.tab-content {
    overflow: hidden;
  }

  .preview-pic.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
  }

  .card {
    margin-top: 50px;
    background: #eee;
    line-height: 1.5em;
    height: 400px;
  }

  .details {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #222831;
    color: white;
    padding: 50px;
    height: 400px;
    position: relative; /* Add this */
  }

  .product-title {
    font-size: 50px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .product-description {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .price {
    font-size: 30px;
    margin-top: 25px;
  }

  .action {
    position: absolute; /* Add this */
    bottom: 20px; /* Add this */
    right: 20px; /* Add this */
    display: flex;
    justify-content: flex-end;
  }

  .add-to-cart,
  .buy-now {
    padding: 1.2em 1.5em;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .add-to-cart {
    background: #28a745;
    color: #fff;
  }

  .buy-now {
    background-color: #ec5526;
    color: #fff;
    margin-left: 15px;
  }

  .add-to-cart:hover {
    background: #23c448;
    color: #fff;
  }

  .buy-now:hover {
    background: #fc4a14;
    color: #fff;
  }

  @keyframes opacity {
    0% {
      opacity: 0;
      transform: scale(3);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }