<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Time Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Edit Set Timings</h2>
        <form th:action="@{/saveMenuTiming}" method="post" class="row g-3">
            <div class="col-md-6">
                <label for="startTime" class="form-label">Start Time:</label>
                <input type="time" id="startTime" name="startTime" th:value="${menu.startTime}" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label for="endTime" class="form-label">End Time:</label>
                <input type="time" id="endTime" name="endTime" th:value="${menu.endTime}" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label for="breakFastTime" class="form-label">Breakfast Time:</label>
                <input type="time" id="breakFastTime" name="breakFastTime" th:value="${menu.breakFastTime}" class="form-control" required>
            </div>
            <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
