

<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="" />
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/css/LoginRegister.css}" />


    <style>
      .error-message {
        color: red;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="hero">
      <div class="form-box">
        <a href="/" class="close">&times;</a>
        <div class="Welcome">
            <h2>Log-In</h2>
            <br><br>
          <h3>Welcome to the FAST-NUCES eCafe!</h3>
        </div>
        <div >
          <p style="font-size: 13px;margin: 5px;" role="alert" th:text="${message}">
          </p>
        </div>
        <form
          id="login"
          action="/loggingIn"
          method="post"
          class="inputdata"
          th:object="${user}"
        >
          <input
            type="email"
            class="inputfield"
            placeholder="Enter Email"
            required
            th:field="*{email}"
          />
          <input
            type="password"
            class="inputfield"
            placeholder="Enter Password"
            required
            th:field="*{password}"
          />

          <!-- Include the dropdown for selecting the user role -->
          <select th:field="*{role}" class="role" required>
            <option value="" selected disabled>Select Role</option>
            <option value="Customer">Customer</option>
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="Clerk">Clerk</option>
          </select>
          <br/>
          

            <input type="checkbox" class="check-box" />
            <span>Remember Password</span>
            
              <a  class="register-link" href="/register" >Register Here</a>
      

          <button type="submit" class="submit-btn">Log In</button>
        </form>
      </div>
    </div> 
  
  </body>
</html>
